<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883889030916-rhrg32gli7kh20efa6lmn8s1goe71kkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883889030916-rhrg32gli7kh20efa6lmn8s1goe71kkg</string>
	<key>API_KEY</key>
	<string>AIzaSyBimLd-D8WjBEOo8DTjs7JIKOtYbxiHo-0</string>
	<key>GCM_SENDER_ID</key>
	<string>883889030916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foresty_app</string>
	<key>PROJECT_ID</key>
	<string>forest-traceability</string>
	<key>STORAGE_BUCKET</key>
	<string>forest-traceability.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883889030916:ios:e904fbd95825ded6fa7251</string>
</dict>
</plist>