body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }

#users-list { max-width: 360px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; background: white; }

#users-list h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }

#users-list ul { list-style-type: none; padding: 0; }

#users-list li { margin-bottom: 8px; }

.lote { margin-left: 20px; }
